/*login page css*/

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1470px;
  max-height: 830px;
  height: calc(100% - 60px);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
  box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
}

.left-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 100%;
  max-width: 850px;
  max-height: 830px;
  background-image: url('assets/images/pngs/main_bg.png');
  background-size: cover;
}

.right-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40%;
  height: 100%;
  max-width: 850px;
  max-height: 830px;
  background: white;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 25px 40px 25px 40px;
}

.title {
  position: relative;
  color: rgb(9, 145, 9);
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 27px;
}

.middle {
  position: relative;
  top: 40%;
  font-size: 20px;
  transform: translateY(-50%);
}

.middle-footer {
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 20px;
  color: #3DA56B;
  font-style: italic;
  font-family: Poppins-Regular;
  font-size: 14px;
}

.form-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 335px;
  margin: 0 auto;
  padding: 20px;
}

.middle {
  font-family: Poppins-Medium;
  font-size: 31px;
}

.login-label {
  font-size: 31px;
}

input {
  display: block;
  width: 100%;
  height: 30px;
  margin: 20px 0px 0px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-family: Poppins-Medium;
  font-size: 16px;
}

input[type="text"]:focus {
  border-bottom: 2px solid rgba(39, 100, 39, 0.973);
}

input[type="button"], .btn-add, .btn-cancel {
  background: #3DA56B;
  height: 44px;
  color: white;
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: grey !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: grey !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: grey !important;
}

input:-ms-input-placeholder {
  color: grey !important;
}

input:focus::-webkit-input-placeholder {
  color: rgba(39, 100, 39, 0.973) !important;
}

input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(39, 100, 39, 0.973) !important;
}

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(39, 100, 39, 0.973) !important;
}

input:focus:-ms-input-placeholder {
  color: rgba(39, 100, 39, 0.973) !important;
}

.forget-pass {
  color: rgba(39, 100, 39, 0.973);
  border: none;
  outline: none;
  cursor: pointer;
}

/*list page css*/

.list-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1470px;
  max-height: 830px;
  min-height: 480px;
  height: calc(100% - 60px);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
  box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
}

.top-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding: 15px 30px;
  color: rgb(9, 145, 9);
  font-style: italic;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 27px;
}

.profile-pic {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-image: url('assets/images/pngs/user.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-panel {
  position: absolute;
  top: 60px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  height: calc(100% - 60px);
  background: rgb(240, 238, 238);
  padding: 20px;
}

.inventory-text {
  font-weight: bold;
  font-family: Poppins-SemiBold;
  color: #222222;
  font-size: 20px;
}

.dashboard-text {
  font-size: 12px;
  color: #9B9B9B;
  font-family: Poppins-Regular;
}

.add-product {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 145px;
  height: 44px;
  text-align: center;
  padding: 9px;
  background-color: #3DA56B;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  font-family: Poppins-Medium;
  cursor: pointer;
  text-decoration: none;
}
a{
  text-decoration: none;
  color:white;
}

.list-table {
  position: relative;
  top: 30px;
  width: 90%;
  max-height: calc(100% - 280px);
  max-width: 1036px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06);
  border-radius: 6px;
  overflow: auto;
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}

table th {
  font-family: Poppins-SemiBold;
  border: none;
}

table td {
  font-family: Poppins-Regular;
  border: none;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  /*background-color: #dddddd;*/
}

tr.selected {
  background-color: #e0ec35b6;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

th {
  padding-bottom: 20px;
}

.box {
  position: relative;
  width: 19px;
  height: 19px;
  background: #000000;
  border-radius: 2px;
}

.bg-red {
  background: #E83A50;
}

.text-red {
  color: #E83A50;
}

.bg-orange {
  background: #FFB55F;
}

.bg-green {
  background: #3DA56B;
}

.text-green {
  color: #3DA56B;
}

.text-green-bold {
  color: #3DA56B;
  font-weight: bold;
}

.underline {
  text-decoration: overline;
}

.button-holder {
  position: absolute;
  bottom: 30px;
}

.prod-delete, .prod-updated, .prod-added {
  position: relative;
  width: 183px;
  height: 45px;
  opacity: 0.8;
  background: #000000;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}

.prod-updated {
  width: 197px;
}

.prod-added {
  width: 210px;
}

.bg-color-red, .bg-color-green {
  position: absolute;
  left: -1px;
  background-color: #E83A50;
  width: 14px;
  height: 45px;
  border-radius: 4px 0 0 4px;
}

.bg-color-green {
  background-color: #3BCC34;
}

.prod-delete-text, .prod-updated-text, .prod-added-text {
  position: absolute;
  height: 20px;
  top: 12px;
  left: 28px;
  font-family: Poppins-Regular;
  font-size: 14px;
  color: white;
}

.prod-delete-close, .prod-updated-close, .prod-added-close {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 14px;
  height: 12px;
  color: white;
  font-size: 20px;
}

/*Add Product Form Page*/

.add-product-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 1470px;
  max-height: 830px;
  min-height: 600px;
  height: calc(100% - 60px);
  transform: translateX(-50%) translateY(-50%);
  -webkit-box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
  -moz-box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
  box-shadow: 2px 2px 10px 1px rgba(133, 133, 133, 0.75);
}

.main-panel {
  position: absolute;
  top: 60px;
  left: 0px;
  max-width: 100%;
  width: 100%;
  height: calc(100% - 60px);
  background: rgb(240, 238, 238);
  padding: 20px;
}

.inventory-text {
  font-weight: bold;
  font-family: Poppins-SemiBold;
  color: #222222;
  font-size: 20px;
}

.dashboard-text {
  font-size: 12px;
  color: #9B9B9B;
  font-family: Poppins-Regular;
}

.main-form-panel {
  position: relative;
  margin: 0 auto;
  top: 45%;
  transform: translateY(-50%);
  max-width: 725px;
  max-height: 440px;
  background: white;
  border-radius: 6px;
}

.form-add-product {
  position: relative;
  margin: 0 auto;
  padding: 20px;
}

.gap {
  position: relative;
  height: 20px;
}

.form-add-product .login-label {
  font-weight: bold;
}

.form-add-product input {
  display: block;
  width: 48%;
  height: 30px;
  min-width: 250px;
  margin: 20px 0px 0px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

input[type="text"]:focus {
  border-bottom: 2px solid rgba(39, 100, 39, 0.973);
}

input[type="button"] {
  background: #3DA56B;
  height: 44px;
  color: white;
}

input::-webkit-input-placeholder {
  color: grey !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: grey !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: grey !important;
}

input:-ms-input-placeholder {
  color: grey !important;
}

input:focus::-webkit-input-placeholder {
  color: rgba(39, 100, 39, 0.973) !important;
}

input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(39, 100, 39, 0.973) !important;
}

input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(39, 100, 39, 0.973) !important;
}

input:focus:-ms-input-placeholder {
  color: rgba(39, 100, 39, 0.973) !important;
}

input.quality, input.date {
  display: inline-block;
}

div.btn-add {
  width: 145px;
  min-width: 145px;
  height: 44px;
  background: #3DA56B;
  border-radius: 2px;
  display: inline-block;
  font-family: Poppins-Medium;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding:8px;
  margin-top:20px;
}

div.btn-cancel {
  width: 97px;
  min-width: 97px;
  height: 44px;
  background: white;
  color: #3DA56B;
  border-radius: 2px;
  border: 1px solid #3DA56B;
  display: inline-block;
  font-family: Poppins-Medium;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  padding:8px;
  margin-top:20px;
}

.forget-pass {
  color: rgba(39, 100, 39, 0.973);
  border: none;
  outline: none;
  cursor: pointer;
}